/***** Section *****/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: urbanist, sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6{
    font-family: poppins, sans-serif;
    font-weight: 500;
}
.container{
    max-width: 142rem;
    /* 1 rem=10px */
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}
.section-navbar{
    width:100px;
    box-shadow: rgba(0,0,0,0.5) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
}
.section-navbar .container{
    display: flex;
    justify-content: space-between;
}
    