/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffe4d6;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.universe {
    width: 40vh;
    aspect-ratio: 1;
    background-color: #ffbb5c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    animation: skychange 10s ease-in-out infinite;;
}
@keyframes skychange {
    0% {
        background-color: #ffbb5c;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: #000000;
        box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: #ffbb5c;
    }
}

.sun {
    width: 18vh;
    aspect-ratio: 1;
    background-color: #e25e3e;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.sun::after {
    content: '';
    width: inherit;
    aspect-ratio: 1;
    background-color: #000000;
    position: absolute;
    border-radius: 50%;
    animation: moonwalk 10s ease-in-out infinite;
}

@keyframes moonwalk {
    0% {
        transform: translateX(100%) scale(1);
    }
    50% {
        transform: translateX(0%) scale(0.9);
    }
    100% {
        transform: translateX(-100%) scale(1);
    }
}
