/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#ffe4d6;
    width:100vw;
    height:100vh;
    align-items:center;
    justify-content:center;
    display:flex;

}
.universe{
    width:40vh;
    aspect-ratio:1;
    background-color: #ffbb5c;
    align-items:center;
    justify-content:center;
    display:flex;
    border-radius: 12px;
   
}
.sun{
    width: 18vh;aspect-ratio: 1;
    background-color: #e25e3e;
    border-radius: 50%;
    position:relative;
    &::after{
        content: '';
        width:inherit;
        aspect-ratio: 1;
        background-color: #000000;
        position: absolute;
        border-radius: 50%;
        animation:moonwalk 10s else-in-out;;
    }
}
@keyframes moonwalk{
    0%{
        translate: 100%;
    }
}      