/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#ffe4d6;
    width:100vh;
    height:100vh;

}
.universe{
    width:40;
    aspect-ratio:1;
    background-color: #ffbb5c;;
}
  